.two-col-grid
  #you.col
    %h1.top You
    %img(src = "#{your_avatar}")
    %br
    = "#{user}"
    #you-first-song
      - if your_track
        %h2.top Now Playing:
        - t = your_track
        - song = t["name"]
        - artist = t['artist']
        - album = t["album"]
        - art = t["image"]
        - link = t["url"]
        .song-info
          %img(src = "#{art[2]}")
          %br
          %a(href="#{link}")
            = '"' "#{song}" '" '
          = "by #{artist} from"
          %i= "#{album}"
      - else
        %p.songinfo You're offline!
    #you-last-five
      %h2.top Previously:
      - last_five.each do |t|
        - song = t["name"]
        - artist = t['artist']
        - album = t["album"]
        - art = t["image"]
        - link = t["url"]
        %img(src = "#{art[2]}")
        %p.songinfo
          %a(href="#{link}")
            = '"' "#{song}" '" '
          = "by #{artist} from" 
          %i= "#{album}"

  #friends.col
    %h1.top Friends
    / f[1] is hash for the song, f[0] is the user
    - friends.each do |f|
      - song = f[1]["name"]
      - artist = f[1]['artist']
      - album = f[1]["album"]
      - art = f[1]["image"]
      - link = f[1]["url"]
      - image = f[0]["image"][1]
      %img(src = "#{image}")
      %br
      = "#{f[0]['name']}"
      %br
      .song-info
        %img(src = "#{art[2]}")
        %br
        %a(href="#{link}")
          = '"' "#{song}" '" '
        = "by #{artist} from"
        %i= "#{album}"