%h1.top= "#{user}'s Recently Played"
- tracks.each do |t|
  - song = t["name"]
  - artist = t['artist']
  - album = t["album"]
  - art = t["image"]
  - link = t["url"]
  %img(src = "#{art[1]}")
  %p.songinfo
    %a(href="#{link}")
      = '"' "#{song}" '" '
    = "by #{artist} from" 
    %i= "#{album}"
